# -------------------------
# Core
# -------------------------
numpy
pandas
pyarrow
scipy
scikit-learn

# -------------------------
# Reinforcement Learning
# -------------------------
gymnasium
stable-baselines3[extra]
torch

# -------------------------
# Analysis & Visualization
# -------------------------
matplotlib
seaborn
statsmodels
tensorboard
tqdm

# -------------------------
# Utilities
# -------------------------
joblib
cloudpickle
# -------------------------
# Supervised_ML
# -------------------------
scikit-learn

